# Ignore virtual environments
venv/
env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore environment variables
.env

# Ignore IDE/editor files
.vscode/
.idea/
serviceAccountKey.json
